PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE `options` (`key` text,`value` text,PRIMARY KEY (`key`));
INSERT INTO options VALUES('gpt-4.1_ratio','1.0');
INSERT INTO options VALUES('gpt-4.1_price','0.01');
CREATE TABLE `midjourneys` (`id` integer,`code` integer,`user_id` integer,`action` varchar(40),`mj_id` text,`prompt` text,`prompt_en` text,`description` text,`state` text,`submit_time` integer,`start_time` integer,`finish_time` integer,`image_url` text,`video_url` text,`video_urls` text,`status` varchar(20),`progress` varchar(30),`fail_reason` text,`channel_id` integer,`quota` integer,`buttons` text,`properties` text,PRIMARY KEY (`id`));
CREATE TABLE `logs` (`id` integer,`user_id` integer,`created_at` integer,`type` integer,`content` text,`username` text DEFAULT "",`token_name` text DEFAULT "",`model_name` text DEFAULT "",`quota` integer DEFAULT 0,`prompt_tokens` integer DEFAULT 0,`completion_tokens` integer DEFAULT 0,`use_time` integer DEFAULT 0,`is_stream` numeric,`channel_id` integer,`channel_name` text,`token_id` integer DEFAULT 0,`group` text,`ip` text DEFAULT "",`other` text,PRIMARY KEY (`id`));
CREATE TABLE `abilities` (`group` varchar(64),`model` varchar(255),`channel_id` integer,`enabled` numeric,`priority` integer DEFAULT 0,`weight` integer DEFAULT 0,`tag` text,PRIMARY KEY (`group`,`model`,`channel_id`));
INSERT INTO abilities VALUES('default','gpt-4.1',1,1,0,0,NULL);
CREATE TABLE `tokens` (`id` integer,`user_id` integer,`key` char(48),`status` integer DEFAULT 1,`name` text,`created_time` integer,`accessed_time` integer,`expired_time` integer DEFAULT -1,`remain_quota` integer DEFAULT 0,`unlimited_quota` numeric,`model_limits_enabled` numeric,`model_limits` varchar(1024) DEFAULT "",`allow_ips` text DEFAULT "",`used_quota` integer DEFAULT 0,`group` text DEFAULT "",`deleted_at` datetime,PRIMARY KEY (`id`));
CREATE TABLE `tasks` (`id` integer,`created_at` integer,`updated_at` integer,`task_id` varchar(50),`platform` varchar(30),`user_id` integer,`channel_id` integer,`quota` integer,`action` varchar(40),`status` varchar(20),`fail_reason` text,`submit_time` integer,`start_time` integer,`finish_time` integer,`progress` varchar(20),`properties` json,`data` json,PRIMARY KEY (`id`));
CREATE TABLE `setups` (`id` integer,`version` varchar(50) NOT NULL,`initialized_at` bigint NOT NULL,PRIMARY KEY (`id`));
INSERT INTO setups VALUES(1,'v1.0.0',1755754580);
CREATE TABLE `quota_data` (`id` integer,`user_id` integer,`username` text DEFAULT "",`model_name` text DEFAULT "",`created_at` integer,`token_used` integer DEFAULT 0,`count` integer DEFAULT 0,`quota` integer DEFAULT 0,PRIMARY KEY (`id`));
CREATE TABLE `channels` (`id` integer,`type` integer DEFAULT 0,`key` text NOT NULL,`open_ai_organization` text,`test_model` text,`status` integer DEFAULT 1,`name` text,`weight` integer DEFAULT 0,`created_time` integer,`test_time` integer,`response_time` integer,`base_url` text DEFAULT "",`other` text,`balance` real,`balance_updated_time` integer,`models` text,`group` varchar(64) DEFAULT "default",`used_quota` integer DEFAULT 0,`model_mapping` text,`status_code_mapping` varchar(1024) DEFAULT "",`priority` integer DEFAULT 0,`auto_ban` integer DEFAULT 1,`other_info` text,`tag` text,`setting` text,`param_override` text,`channel_info` json,PRIMARY KEY (`id`));
CREATE TABLE `redemptions` (`id` integer,`user_id` integer,`key` char(32),`status` integer DEFAULT 1,`name` text,`quota` integer DEFAULT 100,`created_time` integer,`redeemed_time` integer,`used_user_id` integer,`deleted_at` datetime,`expired_time` integer,PRIMARY KEY (`id`));
CREATE TABLE IF NOT EXISTS "top_ups" (`id` integer,`user_id` integer,`amount` integer,`money` real,`trade_no` varchar(255) UNIQUE,`create_time` integer,`complete_time` integer,`status` text,PRIMARY KEY (`id`));
CREATE TABLE IF NOT EXISTS "users" (`id` integer,`username` text UNIQUE,`password` text NOT NULL,`display_name` text,`role` integer DEFAULT 1,`status` integer DEFAULT 1,`email` text,`github_id` text,`oidc_id` text,`wechat_id` text,`telegram_id` text,`access_token` char(32),`quota` integer DEFAULT 0,`used_quota` integer DEFAULT 0,`request_count` integer DEFAULT 0,`group` varchar(64) DEFAULT "default",`aff_code` varchar(32),`aff_count` integer DEFAULT 0,`aff_quota` integer DEFAULT 0,`aff_history` integer DEFAULT 0,`inviter_id` integer,`deleted_at` datetime,`linux_do_id` text,`setting` text,`remark` varchar(255),`stripe_customer` varchar(64),PRIMARY KEY (`id`));
INSERT INTO users VALUES(1,'jeel','.KK8H7vLXfXH6ASvusETqEHgK/zIpghzK.QQD9K/iyePGJc6','Root User',100,1,'swastik6622@gmail.com',NULL,NULL,NULL,NULL,NULL,100000000,0,0,'default',NULL,0,0,0,NULL,NULL,NULL,NULL,NULL,NULL);
INSERT INTO users VALUES(2,'swastik','$2a$10$cvPCvOdNVeNm6Wu9zi6pduNLRf42/drjg/ytN3jAC0wt/E69h3Ngm','Root Admin',100,1,'','','','','',NULL,100000000,0,0,'default','L5I2',0,0,0,0,NULL,'','','','');
CREATE INDEX `idx_midjourneys_start_time` ON `midjourneys`(`start_time`);
CREATE INDEX `idx_created_at_type` ON `logs`(`created_at`,`type`);
CREATE INDEX `idx_created_at_id` ON `logs`(`id`,`created_at`);
CREATE INDEX `idx_logs_model_name` ON `logs`(`model_name`);
CREATE INDEX `idx_logs_token_name` ON `logs`(`token_name`);
CREATE INDEX `index_username_model_name` ON `logs`(`model_name`,`username`);
CREATE INDEX `idx_logs_username` ON `logs`(`username`);
CREATE INDEX `idx_logs_user_id` ON `logs`(`user_id`);
CREATE INDEX `idx_logs_ip` ON `logs`(`ip`);
CREATE INDEX `idx_logs_group` ON `logs`(`group`);
CREATE INDEX `idx_logs_token_id` ON `logs`(`token_id`);
CREATE INDEX `idx_logs_channel_id` ON `logs`(`channel_id`);
CREATE INDEX `idx_abilities_tag` ON `abilities`(`tag`);
CREATE INDEX `idx_abilities_weight` ON `abilities`(`weight`);
CREATE INDEX `idx_abilities_priority` ON `abilities`(`priority`);
CREATE INDEX `idx_abilities_channel_id` ON `abilities`(`channel_id`);
CREATE INDEX `idx_midjourneys_submit_time` ON `midjourneys`(`submit_time`);
CREATE INDEX `idx_midjourneys_mj_id` ON `midjourneys`(`mj_id`);
CREATE INDEX `idx_midjourneys_action` ON `midjourneys`(`action`);
CREATE INDEX `idx_midjourneys_user_id` ON `midjourneys`(`user_id`);
CREATE INDEX `idx_midjourneys_progress` ON `midjourneys`(`progress`);
CREATE INDEX `idx_midjourneys_status` ON `midjourneys`(`status`);
CREATE INDEX `idx_midjourneys_finish_time` ON `midjourneys`(`finish_time`);
CREATE INDEX `idx_tasks_action` ON `tasks`(`action`);
CREATE INDEX `idx_tasks_channel_id` ON `tasks`(`channel_id`);
CREATE INDEX `idx_tasks_created_at` ON `tasks`(`created_at`);
CREATE INDEX `idx_tasks_progress` ON `tasks`(`progress`);
CREATE INDEX `idx_tasks_finish_time` ON `tasks`(`finish_time`);
CREATE INDEX `idx_tasks_user_id` ON `tasks`(`user_id`);
CREATE INDEX `idx_tasks_platform` ON `tasks`(`platform`);
CREATE INDEX `idx_tasks_task_id` ON `tasks`(`task_id`);
CREATE INDEX `idx_tasks_start_time` ON `tasks`(`start_time`);
CREATE INDEX `idx_tasks_submit_time` ON `tasks`(`submit_time`);
CREATE INDEX `idx_tasks_status` ON `tasks`(`status`);
CREATE INDEX `idx_qdt_model_user_name` ON `quota_data`(`model_name`,`username`);
CREATE INDEX `idx_quota_data_user_id` ON `quota_data`(`user_id`);
CREATE INDEX `idx_qdt_created_at` ON `quota_data`(`created_at`);
CREATE INDEX `idx_channels_name` ON `channels`(`name`);
CREATE INDEX `idx_channels_tag` ON `channels`(`tag`);
CREATE INDEX `idx_tokens_user_id` ON `tokens`(`user_id`);
CREATE UNIQUE INDEX `idx_redemptions_key` ON `redemptions`(`key`);
CREATE INDEX `idx_redemptions_deleted_at` ON `redemptions`(`deleted_at`);
CREATE INDEX `idx_redemptions_name` ON `redemptions`(`name`);
CREATE INDEX `idx_tokens_deleted_at` ON `tokens`(`deleted_at`);
CREATE INDEX `idx_tokens_name` ON `tokens`(`name`);
CREATE UNIQUE INDEX `idx_tokens_key` ON `tokens`(`key`);
CREATE INDEX `idx_top_ups_user_id` ON `top_ups`(`user_id`);
CREATE INDEX `idx_top_ups_trade_no` ON `top_ups`(`trade_no`);
CREATE INDEX `idx_users_oidc_id` ON `users`(`oidc_id`);
CREATE INDEX `idx_users_we_chat_id` ON `users`(`wechat_id`);
CREATE INDEX `idx_users_telegram_id` ON `users`(`telegram_id`);
CREATE UNIQUE INDEX `idx_users_access_token` ON `users`(`access_token`);
CREATE UNIQUE INDEX `idx_users_aff_code` ON `users`(`aff_code`);
CREATE INDEX `idx_users_inviter_id` ON `users`(`inviter_id`);
CREATE INDEX `idx_users_deleted_at` ON `users`(`deleted_at`);
CREATE INDEX `idx_users_linux_do_id` ON `users`(`linux_do_id`);
CREATE INDEX `idx_users_stripe_customer` ON `users`(`stripe_customer`);
CREATE INDEX `idx_users_username` ON `users`(`username`);
CREATE INDEX `idx_users_display_name` ON `users`(`display_name`);
CREATE INDEX `idx_users_email` ON `users`(`email`);
CREATE INDEX `idx_users_git_hub_id` ON `users`(`github_id`);
COMMIT;
